:root{
    --bg-main: #e9edc9;
    --container-color: #ccd5ae;
    --map-bg: #faedcd;
    --map-outline: #d4a373;
    --btn-new: #191102;
}

html, body {
    font-size: 20px;
    background-color: var(--bg-main) ;
    font-family: 'Rubik', sans-serif; 
}

.head-text {
    font-size: 4rem;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    width: 1625px;
    margin: auto;
    background: var(--container-color);
    padding: 8px;
    border-radius: 8px;
}

.podpis{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 10px; 
    font-size: 1.5rem;
}

.timeSelect {
    font-size: 2rem;
    font-size: 1.5rem;
    float: right;
    width:120px; 
}

.mainTimer {
    background-color: white;
    margin: 10px 3px 3px auto; 
    font-size:4rem; 
    text-align: center;
    border: 5px black solid;
    border-radius: 10px;
    padding: 3px;
}  

.spots-container{
    background-color: #fefae0;
    border-radius: 10px;
}

.list-item {
    margin: 15px;
    background-color: var(--map-bg);
    border: 3px solid var(--map-outline);
    border-radius: 4px;
    padding: 5px 5px 7px 2px;
    max-height: 22px;
    touch-action: none;
}

.drag-number{
    color: #ff5360; 
    background-color: #6a040f; 
    border-radius: 5px;
    margin: 0px 7px 0px 2px;
    padding: 3px 5px 3px 5px;
    cursor: grab;
    /* touch-action: none; */
}

.phone-drag-element{
    background-color: #97e7ff; 
}

.after-drag-number{
    border-radius: 5px;
    margin: 0px 7px 0px 2px;
    padding: 3px 5px 3px 5px;
}

.map-container {
    height:750px; 
    width: 1600px; 
    background-color: #fefae0; 
    margin: 10px; 
    border-radius: 20px;
    position: relative;
}

.bottom-bar {
    display: flex;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .box:first-child > div { margin-right: auto; }

  .box:last-child  > div { margin-left: auto; }

.inner{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    background: var(--btn-new);
    border-radius: 5px;
    cursor: pointer;
    color: var(--map-bg);
    padding: 8px;
}

.startScreen {
    position: absolute;
    top:0px;
    left:0px;
    z-index: 1;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.startScreenContent {
    background: var(--map-outline);
    margin: 5% auto;
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
    max-width: 400px;
    text-align: center;
}

.startScrHeader { 
    display: flex;
    padding: 10px 20px;
}

.startTitle {
    font-size: 2rem;
    font-weight: 600;
}

.check {
    position:absolute;
    background: rgb(252 3 3 / 30%);
    padding: 0 5px;
    border-radius: 50%;
}

.check-item {
    display:inline-block;
    vertical-align:middle;
    border-radius: 50%;
    overflow: hidden; 
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.score-place {
    border-radius: 50%;
    position: absolute
}

.score{
    font-size: 3rem;
    font-weight: 600;
}

.modeSelectPopUp {
    position: fixed;
    top:0px;
    left:0px;
    z-index: 2;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modeSelectPopUpContent {
    background: var(--map-outline);
    margin: 5% auto;
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
    /* border: 10px solid var(--textColor); */
    max-width: 600px;
}

div.button-container div {
    display: inline-flex;
    flex-direction: column;
    width: min-content;
    min-width: 200px;
    margin: 5px auto;
    background: var(--btn-new);
    color: var(--map-bg);
    padding: 10px;
    border: 5px solid;
    border-radius: 10px;
    cursor: pointer;
}

.button-container{
    text-align: center;
}

div.button-container div.selected{
    background: var(--map-bg);
    color: var(--btn-new);
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
