:root{
    --btn-bg: #778899 ;
    --btn-bg2: #8a817c ; 
    --btn-focused:  #d6e3f8;
    --bg-main: #e9edc9;
    --container-color: #ccd5ae;
    --btn-border: #57a9f6 ; 
    --btn-border2: #e5e5e5 ;
    --btn-focused-text: #000; 
    --bg_city_item: #6fffe9;
    --badge-bg: ;
    --badge-color: ;
    --map-bg: #faedcd;
    --map-outline: #d4a373;
    --btn-new: #191102;
}
html, body {
    font-size: 20px;
    background-color: var(--bg-main) ;
    font-family: 'Rubik', sans-serif; 
    
}
.container {
    max-width: 1625px;
    margin: auto;
    background: var(--container-color);
    border: 8px solid var(--container-color);
    border-radius: 8px;
}

.head-text {
    font-size: 4rem;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
.list-item {
    margin: 15px;
    background-color: var(--map-bg);
    border: 3px solid var(--map-outline);
    border-radius: 4px;
    padding: 5px 5px 7px 2px;
    max-height: 22px;
}
.spots-container{
/* list-style: none; 
 padding: 0;  */
/*  margin-bottom: -10px;  */
 background-color: #fefae0;
 border-radius: 10px;
/*  min-height: 207px; */
}

.drag-number{
    color: #ff5360; 
    background-color: #6a040f; 
    border-radius: 5px;
    margin: 0px 7px 0px 2px;
    padding: 3px 5px 3px 5px;
    cursor: grab;
}

.startScreen {
    /* postion fixed + place poza map containerem jesli ma byc na full ekran */
    position: absolute;
    top:0px;
    left:0px;
    z-index: 1;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.startScreenContent {
    background: var(--map-outline);
    margin: 5% auto;
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
    /* border: 10px solid var(--textColor); */
    max-width: 400px;
}
.startScrHeader { 
    display: flex;
    padding: 10px 20px;
}
.startTitle {
    font-size: 2rem;
    font-weight: 600;
}
.timeSelect {
    font-size: 2rem;
    font-size: 1.5rem;
    float: right;
    width:120px; 
}
.mainTimer {
    background-color: white;
    margin: 10px 3px 3px auto; 
    font-size:4rem; 
    text-align: center;
    border: 5px black solid;
    border-radius: 10px;
    padding: 3px;
}
.map-container {
    height:750px; 
    width: 1600px; 
    background-color: #fefae0; 
    margin: 10px; 
    border-radius: 20px;
    position: relative;
}
.bottom-bar {
    display: flex;
}

/* .bottom-bar-btn {
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    background: var(--btn-border); 
    border-radius: 5px;    
    cursor: pointer; 

    padding: 5px;

    flex: 1;
    display: flex;
    justify-content: center;

} */
.box {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .box:first-child > div { margin-right: auto; }
  
  .box:last-child  > div { margin-left: auto; }

.inner{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    background: var(--btn-new);
    border-radius: 5px;
    cursor: pointer;
    color: var(--map-bg);

    padding: 8px;
}
p {
    text-align: center;
    margin: 5px 0 0 0;
  }
.podpis{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 10px; 
    font-size: 1.5rem;
}
.check {
    position:absolute;
    background: rgb(252 3 3 / 30%);
    padding: 20px;
    border-radius: 50%;
}
.check-item {
    display:inline-block;
    vertical-align:middle;
    background: rgb(249 8 0 / 50%);
/*     width: 50px;
    height: 50px; */
    padding: 0 5px;
    border-radius: 50%;
    overflow: hidden; 
    text-align: center;
    color: rgba(0, 0, 0, 1);
}